/* => Fontes 

  * Poppins import
  * Open Sans import
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: hsl(257, 40%, 49%);
  --secondary-color: hsl(300, 69%, 71%);
}

/* Tipografia */

* {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1em;
  color: white;
}

h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.5em;
}

.logo {
  margin: 30px 0 15px 35px;
  width: 130px;
}

/* Estilo geral */

a {
  color: var(--secondary-color);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-image: url(images/bg-mobile.svg);
  background-color: var(--primary-color);
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;

  /* Para o footer */
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Para empurrar o footer */
  flex: 1;
}

.advertising {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 25px 35px;
  gap: 60px;

  max-width: 500px;
}

.ad-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.4em;
}

.ad-content h1,
.ad-content p {
  margin: 0;
}

.advertising img {
  width: 100%;
}

.register-button {
  font-size: 0.8em;
  width: 16em;
  height: 3.2em;
  border-radius: 2em;

  border-width: 0;
  color: var(--primary-color);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);

  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
  gap: 10px;
  cursor: pointer;
}

.social {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 100%;
}

/* Media queries 
* sm	640px
* md	768px - celular grande
* lg	1024px
* xl	1280px
* 2xl	1536px
*/

@media (min-width: 1024px) {
  body {
    background-image: url(images/bg-desktop.svg);
    background-size: auto 100%;
  }

  h1 {
    font-size: 3em;
  }

  .advertising {
    display: flex;
    text-align: start;
    flex-direction: row;
    flex: 1 1;

    max-width: unset;

    max-width: 1300px;
  }

  .advertising img {
    max-width: 50vw;
  }

  .ad-content {
    align-items: start;
  }

  .register-button {
    font-size: 1em;
    width: 12em;
  }

  .socials {
    justify-content: right;
    margin-right: 80px;
  }
}

.register-button:hover {
  background-color: var(--secondary-color);
}

.social:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.social:hover i {
  color: var(--secondary-color);
}
