/* => Fontes 

  * Poppins import
  * Open Sans import
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: hsl(257, 40%, 49%);
  --secondary-color: hsl(300, 69%, 71%);
}

/* Tipografia */

* {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1em;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 600;
}

h1 {
  font-size: 2em;
}

.logo {
  margin: 30px;
}

/* Estilo geral */

a {
  color: var(--secondary-color);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-image: url(images/bg-mobile.svg);
  background-color: var(--primary-color);
  background-size: cover;
  flex: 1;

  display: flex;
  flex-direction: column;
}

.advertising {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  padding: 0 50px;
  margin: 50px 0;
}

.content {
  max-width: 400px;
}

.advertising img {
  padding: 0 50px;
  width: 100%;
  min-width: 450px;
  max-width: 700px;
  flex-shrink: 1;
}

.button-frame {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.register-button {
  width: 16em;
  font-size: 0.8em;
  height: 3em;
  border-radius: 2em;
  color: var(--primary-color);
  border-width: 0;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
  gap: 15px;
  cursor: pointer;
}

.social {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 100%;
}

/* Media queries 
* sm	640px
* md	768px - celular grande
* lg	1024px
* xl	1280px
* 2xl	1536px
*/

@media (min-width: 1024px) {
  body {
    background-image: url(images/bg-desktop.svg);
  }

  .advertising {
    display: flex;
    flex-direction: row;
    text-align: start;
    flex: 1 1;
    padding: 0 150px;
  }

  .button-frame {
    justify-content: start;
  }

  .socials {
    justify-content: right;
    margin-right: 50px;
  }
}

.register-button:hover {
  background-color: var(--secondary-color);
}

.social:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.social:hover i {
  color: var(--secondary-color);
}
